      </div>
    </div>
  </div>
	<footer>
		<div class="inside">
			<a id="fhp-logo" href="http://interface.fh-potsdam.de" target="_blank">FHP</a>
			<nav>
				<small>&copy; 2022 FH Potsdam</small>
				<ul id="menu-footer-menu" class="menu">
          <li id="menu-item-381" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-381"><a href="https://idl.fh-potsdam.de/imprint/">Contact &#038; Legal</a></li>
        </ul>
      </nav>
		</div>
	</footer>

	<script type='text/javascript' src='https://idl.fh-potsdam.de/wp-content/themes/IDL/js/jquery.isotope.min.js' id='isotope-js'></script>
<script type='text/javascript' id='theme_functions-js-extra'>
/* <![CDATA[ */
var siteVars = {"siteurl":"https:\/\/idl.fh-potsdam.de","ajaxurl":"https:\/\/idl.fh-potsdam.de\/wp-admin\/admin-ajax.php?lang=en","lang":"en","siteStrings":"[]","isMobile":"","isIpad":"","isTablet":"","isIE":""};
/* ]]> */
</script>
<script type='text/javascript' src='https://idl.fh-potsdam.de/wp-content/themes/IDL/js/functions.js' id='theme_functions-js'></script>
<script type='text/javascript' src='https://idl.fh-potsdam.de/wp-includes/js/wp-embed.min.js?ver=5.8.3' id='wp-embed-js'></script>

</body>

</html>