		</main>

		<footer>
			<div class="footer-logo-container">
				<a href="http://interface.fh-potsdam.de" aria-label="Interface.fh-potsdam.de aufrufen" target="_blank"><img src="/images/assets/fhp-logo.svg" alt="Interface.fh-potsdam.de aufrufen"></a>
				<a href="http://idl.fh-potsdam.de" aria-label="{% if lang == "de" %}Startseite des Interaction Design Lab{% else %}Homepage of the Interaction Design Lab{% endif %}"><img src="/images/assets/idl-logo-black.svg" alt="{% if lang == "de" %}Startseite des Interaction Design Lab{% else %}Homepage of the Interaction Design Lab{% endif %}"></a>
			</div>

			<div class="legal-container">
				<p>
					<a href="https://www.fh-potsdam.de/studium-weiterbildung/studiengaenge/interfacedesign-b">{% if lang == "de" %}Jetzt Interface Design an der FH Potsdam studieren{% else %}Study Interface Design at the FH Potsdam{% endif %} &raquo;</a>
				</p>
				<ul>
					<li><a href="/{{locale}}/contact/">{% if lang == "de" %}Kontakt{% else %}Contact{% endif %}</a></li>
					<li><a href="https://www.fh-potsdam.de/impressum">{% if lang == "de" %}Impressum{% else %}Legal note{% endif %}</a></li>
					<li><a href="https://www.fh-potsdam.de/datenschutz" target="_blank">{% if lang == "de" %}Datenschutz{% else %}Privacy statement{% endif %}</a></li>
				</ul>
			</div>

			<div class="copyright">© FH Potsdam</div>	
		</footer>

		<script src="/js/{{ 'core.js' | jsfile }}" async></script>

		{% if layout == "layouts/projects_list.njk" %}
		<script src="/js/{{ 'filter-projects.js' | jsfile }}" async></script>
		{% endif %}

	<script>
	  if (window.netlifyIdentity) {
	    window.netlifyIdentity.on("init", user => {
	      if (!user) {
	        window.netlifyIdentity.on("login", () => {
	          document.location.href = "/admin/";
	        });
	      }
	    });
	  }
	</script>

	</body>
</html>