	</main>
	{% set js %}
  {% include "js/core.js" %}
{% endset %}
<script>
  {{ js | safe }}
</script>

	<footer>
		<a href="http://interface.fh-potsdam.de" target="_blank">FHP</a>
		<nav>
			<small>&copy; 2022 FH Potsdam</small>
			<ul>
				<li><a href="/{{locale}}/legal/">Contact &#038; Legal</a></li>
			</ul>
		</nav>
	</footer>
</body>
</html>