	</main>
	{% set js %}
  {% include "js/core.js" %}
{% endset %}
<script>
  {{ js | safe }}
</script>

	<footer>
		<div class="footer-logo-container">

			<a href="http://interface.fh-potsdam.de" target="_blank"><img src="/images/assets/fhp-logo.svg"></a>
			<a href="http://idl.fh-potsdam.de"><img src="/images/assets/idl-logo-black.svg"></a>

		</div>

		<div class="legal-container">
			<ul>
				<li><a href="/{{locale}}/legal/">Kontakt</a></li>
				<li><a href="/{{locale}}/legal/">Impressum</a></li>
				<li><a href="/{{locale}}/legal/">Datenschutz</a></li>
				
			</ul>

		</div>

		<div class="copyright">© FH Potsdam</div>

		
	</footer>
{% if title == "Services" %}
	<script type="text/javascript">
		window.onload = function () {
			
			const heads = document.getElementsByTagName("h2");
		    Array.from(heads).forEach(heads => {
			
			const link = '<div class=""><a href="#'+heads.id+'">'+heads.innerHTML+'</a></div>';
                     
					  document.getElementById("anchors").innerHTML += link;

            });
		}
</script>
 {% endif %}

</body>
</html>