<div class="intro-container max-width default">
	
<h1>{{title}}</h1>

	{% if excerpt %}
	<div class="intro">
	<p>{{excerpt}}</p>
	</div>
	{% endif %}

</div>

{#
<div class="people">
    <a href="#" title="Name" class="people-container">

		<div class="people-image">
			<img src="/images/frank-heidmann.jpg" loading="lazy">
		</div>

		<div class="people-desc-container">

			<div class="people-name">
				<span>Name</span> 
			</div>
            
            <div class="people-position">
				Position
			</div>

		</div>

	</a>

    <a href="#" title="Name" class="people-container">

		<div class="people-image">
			<img src="#" loading="lazy">
		</div>

		<div class="people-desc-container">

			<div class="people-name">
				<span>Name</span> 
			</div>
            
            <div class="people-position">
				Position
			</div>

		</div>

	</a>


</div>
#}