---
layout: layouts/projects_single.njk
pagination:
    data: projects
    size: 1
    alias: project
permalink: "de/projects/{{ project.slug }}/"

laufschrift_green: Interaction × Design × Lab × Interaction × Design × Lab × Interaction × Design × Lab
laufschrift_black: BLAB LAB ALB ALB KASDLKHAS DLKJGSA DkjSAHFALSKDJHAS DLKAJHSDLA SKJDH 
---


