{% include 'header.njk' %}
{% from './macros.njk' import imageById, peopleTeaser, publicationTeaser %}

{% if locale == 'de' %}
{% set people = collections.people_de %}
{% else %}
{% set people = collections.people_en %}
{% endif %}

<div class="intro-container max-width default">
  <h1>{{name}}</h1>

   {% if excerpt %}
  <div class="intro">
 <p>{{excerpt}}</p>
  </div>
  {% endif %}

</div>

{#
<h1>{{name[locale]}}</h1>
{% if subtitle[locale] %}<h2>{{subtitle[locale]}}</h2>{% endif %}
{% if excerpt[locale] %}<p>{{excerpt[locale]}}</p>{% endif %}
#}

{% if thumbnail %}
<div class="project-hero">
<img src="{{thumbnail}}" alt="{{name}}">
</div>
{% endif %}


<div class="project-facts-container">

<!--

TODO: related_project
TODO: related_person
etc.

siehe admin/config.yml

  -->


   {% if date %}
  <div class="year">   
        <span>
      {% if locale == 'en' %} Date {% else %} Datum {% endif %}
    </span>
       {{ date}}   
  </div>
    {% endif %}  




     {% if website %}
    <div class="website">
    <span>Website</span>
       <a href="{{website}}">{{website}}</a>
  </div>
    {% endif %}  

 

</div>




<div class="content-container">
{% if content %}
<p>{{content | safe}}</p>
{% endif %}
</div>

{% if laufschrift_green and laufschrift_black %}
<div class="laufschrift-container">

	<div class="scroll1">{{laufschrift_green}}</div>
	<div class="scroll2">{{laufschrift_black}}</div>

</div>
{% endif %}

{% include 'footer.njk' %}