{% include 'header.njk' %}
{% from './macros.njk' import projectTeaser, publicationTeaser, eventTeaser %}

{% if locale == 'de' %}
{% set people = collections.people_de %}
{% set projects = collections.projects_de %}
{% set events = collections.events_de %}
{% else %}
{% set people = collections.people_en %}
{% set projects = collections.projects_en %}
{% set events = collections.events_de %}
{% endif %}

{% set lang = page.url.slice(1, 3) %}

<div class="intro-container max-width home">
	{{ content | safe }}
</div>

<div class="laufschrift-container">

	<div class="scroll1">Interaction × Design × Lab × Interaction × Design × Lab × Interaction × Design × Lab × Interaction × Design × Lab × Interaction × Design × Lab × Interaction × Design × Lab × </div>
	<div class="scroll2">Personen × Team × Forschende × Designende × Lehrende × Studierende × Dynamisch × Personen × Team × Forschende × Designende × Lehrende × Studierende × Dynamisch</div>

</div>

<section>

	<div class="projects">

	<!-- 
		<a href="#" class="project-container">

		<div class="project-image">
			<img src="/images/eye-tracking-mobile.jpg">
		</div>

		<div class="project-desc-container">

			<div class="project-name">
				<span>DataSkop</span> User Interfaces zur Förderung digitale Souveränität
			</div>

			<div class="project-sponsor">
				<img src="/images/logos/bmbf.png">
			</div>

			<div class="project-tags-container">
				<div class="project-tag">UI/UX</div>

			</div>

		</div>

	</a>	-->
	
	
		{% for p in projects | sort(true, false, "year") %}
			{% if p.data.featured_home == true %}
			{{ projectTeaser(p, lang) }}
			{% endif %}
		{% endfor %}

	</div>
	{# Projects Ende #}


	<div class="more-link">
		
	<a href="/{{locale}}/projects/" class="button">{% if lang == 'en' %}Show all projects{% else %}Alle Projekte anzeigen{% endif %}</a>
	</div>

</section>

{% set events_home = 0 %}
{% for p in events | sort(true, false, "year") %}
	{% if p.data.featured_home == true %}
	{% set events_home = events_home + 1 %}
	{% endif %}
{% endfor %}

{% if events_home > 0 %}

<section>
	<div class="event-container">
		<h2>{% if lang == 'en' %}Events{% else %}Aktivitäten{% endif %}</h2>	

		{% for p in events | sort(true, false, "sort_name") %}
			{% if p.data.featured_home == true %}
			{{ eventTeaser(p, lang) }}
			{% endif %}
		{% endfor %}

	</div>

</section>
{% endif %}



<section>
	
	<div class="publications">
	<h2>{% if lang == 'en' %}Recent Publications{% else %}Publikationen{% endif %}</h2>

	<!-- 
	<div class="pub-container">
		<h4>Title of Publication</h4>
		<div class="pub-authors">
			<ul>
				<li><a href="#">Jrodi Tost</a></li>
				<li><a href="#">Jrodi Tost</a></li>
				<li><a href="#">Jrodi Tost</a></li>
			</ul>
		</div>

		<div class="pub-desc">
			ACM DIS 2020 Workshop – Speculative and Critical Design in Education: Practice and Perspectives. 
		</div>

		<div class="download-link">
			<a href="#">DOWNLOAD PDF</a>
		</div>
	</div>
	-->
	

{% for p in collections.publications | sort(true, false, 'year') %}
{% if loop.index < 4 %}
{{publicationTeaser(p, locale, people)}}
{% endif %}
{% endfor %}

	</div>

	<div class="more-link">
		{% set lang = page.url.slice(1, 3) %}
	<a href="/{{locale}}/publications/" class="button">{% if lang == 'en' %}Show all publications{% else %}Alle Publikationen anzeigen{% endif %}</a>
	</div>

</section>

{% include 'footer.njk' %}
