{% include 'header.njk' %}
{% from './macros.njk' import publicationTeaser, imageById, projectTeaser %}
{% if group and group != 'Past Students' and group != 'Past Member' %}

{% if locale == 'de' %}
{% set people = collections.people_de %}
{% else %}
{% set people = collections.people_en %}
{% endif %}

<div class="content-container">
<div class="person">
      {% if thumbnail_id %}
      <div class="portrait">
			<img src="{{thumbnail_id}}" alt="{{name}}" loading="lazy" />
      </div>
      {% elif image_link %}
      <div class="portrait">
			<img src="{{(image_link)}}" alt="" loading="lazy" />
      </div>
      {% endif %}
      
      <div class="person-facts">
        <div class="title">
        {% if 'Prof.' in name %} Prof. {% endif %}
        {% if 'Dr.' in name %} Dr. {% endif %}
        </div>
        <h1>{{name | replace ("Prof. ", "") | replace ("Dr. ", "")}}</h1> 

        <div class="position">{% if subtitle %}{{subtitle}}{% endif %}</div>

        <div class="output-container">
{#
          {% set projectcounter = 0 %}
          {% for p in projects | sort(true, false, "year") %}
          {% if wp_id in p.project_team %}
          {% set projectcounter = projectcounter + 1 %}
          {% endif %}
          {% endfor %}
#}


          
          
          {% if projectcounter > 0 %}
          <div class="person-projects"><a href="#projects">Projekte</a> ({{ projectcounter }})</div>
          {% endif %}

          {% set publicationcounter = collections.map.lists['people_' + locale + '_publications'][page.url | stripUrl] | length %}
          {% if publicationcounter > 0 %}
          <div class="person-publications"><a href="#publications">Publikationen</a> ({{publicationcounter}})</div>
          {% endif %}

        </div>

        <div class="person-contacts">
            {% if email %} 
            <div class="email">E-Mail <a href="mailto:{{ email }}">{{ email }}</a></div>
            {% endif %}
            {% if website %} 
            <div class="website">Website <a href="{{ website }}">{{ website }}</a></div>
            {% endif %}
            {% if twitter %} 
            <div class="twitter">Twitter <a href="https://twitter.com/{{ twitter }}">{{ twitter }}</a></div>
            {% endif %}
        
        </div>

      </div>

</div>

      <div class="person-excerpt">
{% if content %}
<p>{{content | safe}}</p>
{% endif %}
      </div>

{% if laufschrift_tags %}
<div class="laufschrift-container">

	<div class="scroll1">Interaction × Design × Lab × Interaction × Design × Lab × Interaction × Design × Lab × </div>
	<div class="scroll2">{{laufschrift_tags}}</div>

</div>
{% endif %}
</div>
{# {{project.page | safe}} #}

{% if projectcounter > 0 %}
<h2 class="projects" id="projects">Projects</h2>
<div class="projects expand-projects preview">
{% for p in projects | sort(true, false, "year") %}
{% if wp_id in p.project_team %}
{{ projectTeaser(p, locale, attachments) }}
{% endif %}
{% endfor %}
</div>
    {% if projectcounter > 3 %}
    <div class="more-link">
        {% set lang = page.url.slice(1, 3) %}
        <button class="button" id="button-projects" type="button">{% if lang == 'en' %}Show {{ projectcounter }} all projects{% else %}Alle {{ projectcounter }} Projekte anzeigen{% endif %}</button>
      
      </div>
      {% endif %}
{% endif %}



{% if publicationcounter > 0 %}
  {% set lastyear = '0' %}

<div class="publications expand-pubs preview">
  <h2 id="publications">Publications</h2>

{% for pId in collections.map.lists['people_' + locale + '_publications'][page.url | stripUrl] %}
{{     publicationTeaser(collections.publications[pId], locale, people) }}
{% endfor %}

</div>
  {% if publicationcounter > 3 %}
  <div class="more-link">
      {% set lang = page.url.slice(1, 3) %}
    <a class="button" id="button-pubs">{% if lang == 'en' %}Show {{ publicationcounter }} all publications{% else %}Alle {{ publicationcounter }} Publikationen anzeigen{% endif %}</a>
    </div>
  {% endif %}
{% endif %}


{% endif %}
{% include 'footer.njk' %}