{% include 'header.njk' %}
{% include 'people.njk' %}
{% from './macros.njk' import imageById %}
{{ content | safe }}

{% set people = people | sort(true, false, "sort_name") %}



	{% for pList in peopleConfig.full %}
		
<div class="people">
<h2>{{ pList.title[locale] }}</h2>
	
	{% for p in people %}
		{% if p.group == pList.key %}
		
{% if pList.singles %}

<a href="/{{ locale}}/people/{{p.slug}}" title="{{p.name[locale]}}" class="people-container">

		<div class="people-image {% if p.image_link %} checked {% endif %}">
			{% if p.image_link %}
			<img src="{{(p.image_link)}}" alt="" loading="lazy" />
			{% endif %}
		</div>

		<div class="people-desc-container">

			<div class="people-name">
				<span>{{p.name[locale]}}</span> 
			</div>
            
            <div class="people-position">
				{{p.subtitle[locale]}}
			</div>

		</div>

	</a>
			
{% endif %}
		
		{% endif %}
	{% endfor %}

</div>
{% endfor %}

{#
{% for pList in peopleConfig.full %}
<div class="people">
	<h2>{{ pList.title[locale] }}</h2>
	<ul>
	{% for p in people %}
		{% if p.group == pList.key %}
		<li>
{% if pList.singles %}
			<a  href="/{{ locale}}/people/{{p.slug}}" title="{{p.name[locale]}}">
				<img src="{{imageById(p.thumbnail_id)}}" alt="" loading="lazy" />
				<img src="{{(p.image_link)}}" alt="" loading="lazy" />
			</a>
			<a href="/{{locale}}/people/{{p.slug}}" title="{{p.name[locale]}}">
				<h2>{{p.name[locale]}}</h2>
				<span>{{p.subtitle[locale]}}</span>
			</a>
{% else %}
			<img src="{{imageById(p.thumbnail_id)}}" alt="" loading="lazy" />
			<h2>{{p.name[locale]}}</h2>
			<span>{{p.subtitle[locale]}}</span>
{% endif %}
		</li>
		{% endif %}
	{% endfor %}
	</ul>
</div>
{% endfor %}
#}


{% if laufschrift_green and laufschrift_black %}
<div class="laufschrift-container">

	<div class="scroll1">{{laufschrift_green}}</div>
	<div class="scroll2">{{laufschrift_black}}</div>

</div>
{% endif %}

<div class="former-container">
{% for pList in peopleConfig.list %}
<div class="former">
	<div class="former-title">{{ pList.title[locale] }}</div>
	<ul>
	{% for p in people %}
		{% if p.group == pList.key %}
		<li>{{p.name[locale]}}</li>
		{% endif %}
	{% endfor %}
	</ul>
</div>
{% endfor %}
</div>

{% include 'footer.njk' %}