{% include 'header.njk' %}
{% include 'people.njk' %}
{% from './macros.njk' import imageById %}
{{ content | safe }}

{% set people = people | sort(true, false, "sort_name") %}

{% for pList in peopleConfig.full %}
<div class="people">
	<h3>{{ pList.title[locale] }}</h3>
	<ul>
	{% for p in people %}
		{% if p.group == pList.key %}
		<li>
{% if pList.singles %}
			<a  href="/{{ locale}}/people/{{p.slug}}" title="{{p.name[locale]}}">
				<img src="{{imageById(p.thumbnail_id)}}" alt="" loading="lazy" />
				<img src="{{(p.image_link)}}" alt="" loading="lazy" />
			</a>
			<a href="/{{locale}}/people/{{p.slug}}" title="{{p.name[locale]}}">
				<h2>{{p.name[locale]}}</h2>
				<span>{{p.subtitle[locale]}}</span>
			</a>
{% else %}
			<img src="{{imageById(p.thumbnail_id)}}" alt="" loading="lazy" />
			<h2>{{p.name[locale]}}</h2>
			<span>{{p.subtitle[locale]}}</span>
{% endif %}
		</li>
		{% endif %}
	{% endfor %}
	</ul>
</div>
{% endfor %}


{% if laufschrift_green and laufschrift_black %}
<div class="laufschrift-container">

	<div class="scroll1">{{laufschrift_green}}</div>
	<div class="scroll2">{{laufschrift_black}}</div>

</div>
{% endif %}

<div class="ehemalige">
{% for pList in peopleConfig.list %}
<div class="ehemalige">
	<h3>{{ pList.title[locale] }}</h3>
	<ul>
	{% for p in people %}
		{% if p.group == pList.key %}
		<li>{{p.name[locale]}}</li>
		{% endif %}
	{% endfor %}
	</ul>
</div>
{% endfor %}
</div>

{% include 'footer.njk' %}