{% include 'header.njk' %}
{% from './macros.njk' import peopleLink %}

{% set authors = author %}
{% if authors and (authors is string) %}
{% set authors = [author] %}
{% endif %}

<div class="intro-container projectdetail max-width">
  <h1>{{title | safe}}</h1>

   {% if excerpt %}
  <div class="intro">
 <p>{{excerpt | safe}}</p>
  </div>
  {% endif %}

</div>


<div class="project-facts-container">
  <div class="block">
    <div class="facts team">
      <span>Date</span>
      <ul><li>{%- if locale == 'de' -%}{{ date | date("D. MMM. YYYY", locale) }}{%- else -%}{{ date | date("MMM. Do YYYY", locale) }}{%- endif -%}</li></ul>
    </div>
  </div>
  <div class="block">
    <div class="facts team">
      <span>Author{% if authors and authors | length > 1 %}s{% endif %}</span>
      <ul>
      {%- for a in authors -%}
        <li>
        {%- if '/de/people/' in a -%}
        {{ peopleLink(a, collections.people_de) }}
        {%- else -%}
        {{ peopleLink(a, collections.people_en) }}
        {%- endif -%}
        </li>
      {%- endfor -%}  
      </ul>
    </div>
  </div>
</div>

<div class="content-container">
{% if content %}
{{content | safe}}
{% endif %}
</div>

{% set orderedPosts = collections['posts_' + locale] | reverse %}
{% set currentIndex = -1 %}
{% for p in orderedPosts %}
  {% if p.url == page.url %}
    {% set currentIndex = loop.index0 %}
  {% endif %}
{% endfor %}
{% if currentIndex > -1 %}
  {% set nextPost = orderedPosts[currentIndex + 1] %}
  {% set prevPost = orderedPosts[currentIndex - 1] %}
  {% if nextPost or prevPost %}
  <div class="post-nav">
    <h2>{% if locale == 'de' %}Weiterlesen{% else %}Continue reading{% endif %}</h2>
    {% if nextPost %}
    <div class="post-nav-item">
      {% if locale == 'de' %}Nächster Artikel:{% else %}Next article:{% endif %}
      <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
    </div>
    {% endif %}
    {% if prevPost %}
    <div class="post-nav-item">
      {% if locale == 'de' %}Vorheriger Artikel:{% else %}Previous article:{% endif %}
      <a href="{{ prevPost.url }}">{{ prevPost.data.title }}</a>
    </div>
    {% endif %}
  </div>
  {% endif %}
{% endif %}

{% if laufschrift_tags %}
{% set laufschrift_black = laufschrift_tags %}
{% set laufschrift_green = laufschrift_tags %}
{% endif %}

{% if laufschrift_green and laufschrift_black %}
<div class="laufschrift-container">

	<div class="scroll1">{{laufschrift_green}}</div>
	<div class="scroll2">{{laufschrift_black}}</div>

</div>
{% endif %}

{% include 'footer.njk' %}
