{% include 'header.njk' %}
{% from './macros.njk' import imageById %}

<h1>{{project.name[locale]}}</h1>
{% if project.subtitle[locale] %}<h2>{{project.subtitle[locale]}}</h2>{% endif %}
{% if project.excerpt[locale] %}<p>{{project.excerpt[locale]}}</p>{% endif %}

{% if project.thumbnail_id %}
<img src="{{imageById(project.thumbnail_id, attachments)}}">
{% endif %}

{% set groupSize = project.group | length %}
{% if groupSize > 0 %}
<h3>Tags</h3>
<ul>
  {% for g in project.group %}
  <li>{{g}}</li>
  {% endfor %}
</ul>
{% endif %}

<h3>Meta Data</h3>
<dl>

{# YEAR #}
  <dt>{% if locale == 'de' %}Jahr{% else %}Year{% endif %}</dt>
  <dd>{{project.project_year}}</dd>

  <dt>Website</dt>
  <dd>{{project.project_website}}</dd>

{# CLIENTS #}
{% set clientSize = project.project_client_name | length %}
{% if clientSize > 0 %}
  <dt>{% if locale == 'de' %}Kunde{% else %}Client{% endif %}</dt>
  <dd>
    {% for client in project.project_client_name %}
    {% if project.project_client_url[forloop.index0] %}<a href="{{ project.project_client_url[forloop.index0] }}">{% endif %}
    {% if project.project_client_logo[forloop.index0] %}
    <img src="{{project.project_client_logo[forloop.index0]}}" alt="{{client}}" />
    {% else %}
    {{client}}
    {% endif %}
    {% if project.project_client_url[forloop.index0] %}</a>{% endif %}
    {% endfor %}
  </dd>
{% endif %}

{# FUNDING #}
{% set fundingSize = project.project_funding_name | length %}
{% if clientSize > 0 %}
  <dt>{% if locale == 'de' %}Kunde{% else %}Client{% endif %}</dt>
  <dd>
    {% for client in project.project_client_name %}
    {% if project.project_client_url[forloop.index0] %}<a href="{{ project.project_client_url[forloop.index0] }}">{% endif %}
    {% if project.project_client_logo[forloop.index0] %}
    <img src="{{project.project_client_logo[forloop.index0]}}" alt="{{client}}" />
    {% else %}
    {{client}}
    {% endif %}
    {% if project.project_client_url[forloop.index0] %}</a>{% endif %}
    {% endfor %}
  </dd>
{% endif %}

{# Partners #}
{% set partnerSize = project.project_partners_name | length %}
{% if partnerSize > 0 %}
  <dt>{% if locale == 'de' %}Partner{% else %}Partners{% endif %}</dt>
  <dd>
    {% for partner in project.project_partners_name %}
    {% if project.project_partners_url[forloop.index0] %}<a href="{{ project.project_partners_url[forloop.index0] }}">{% endif %}
    {{partner}}
    {% if project.project_partners_url[forloop.index0] %}</a>{% endif %}
    {% endfor %}
  </dd>
{% endif %}

{# External Team #}
<dt>Team</dt>
{% set externalSize = project.project_team_external_name | length %}
{% if externalSize > 0 %}
  <dd>
    {% for team in project.project_team_external_name %}
    {% if project.project_team_external_url[forloop.index0] %}<a href="{{ project.project_partners_url[forloop.index0] }}">{% endif %}
    {{team}}
    {% if project.project_team_external_url[forloop.index0] %}</a>{% endif %}
    {% endfor %}
  </dd>
{% endif %}

</dl>

{{project.page[locale] | safe}}

{% include 'footer.njk' %}