{% layout './layouts/base.liquid' %}
{% block content %}

<div class="entry">
  <div class="entry-side">
    <div class="content-nav-widget">
      <h5>Years</h5>
      <ul class="content-nav">
      {% assign years = publications | map: 'year' | uniq | sort | reverse %}
      {% for y in years %}
        <li><a href="#{{y}}">{{y}}</a></li>
      {% endfor %}
      </ul>
    </div>
	</div>

  {% assign publications = publications | sort: "year" | reverse  %}

  <div class="entry-main">
    <div id="publications-section" class="section">
    {% assign lastyear = '0' %}
    {% assign pubSorted = publications %}
    {% for p in pubSorted %}
      {% if lastyear != p.year %}
      {% if lastyear != '0' %}
      </div>
      {% endif %}
			<h2 id="{{p.year}}">{{p.year}}</h2>
			<div class="publications-list">
      {% assign lastyear = p.year %}
      {% endif %}
        <div class="publication group">
			    <h4>“Stranger Things – Prototyping Inconvenience”: A Case Study On Critical Design In Design Education</h4>
    			<div class="publication-meta">
						<ul class="publication-authors"></ul>
						<span class="publication-conf">ACM DIS 2020 Workshop – Speculative and Critical Design in Education: Practice and Perspectives</span>
					</div>
				</div>
    {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}