<div id="people-section">
	{% assign people = site.data.people | sort: "sort" %}
	{% assign fPeople = people | where_exp:"people", "people.group == 'member'" %}
	<h3 class="grid-title">Members</h3>
	<div class="people-grid grid group">
	{% for p in fPeople %}
		<div class="people box">
			<a class="thumb" href="{{page.lang}}/{{p.page}}" title="{{p.name}}">
				<img src="{{p.image}}" class="attachment-member-image size-member-image wp-post-image" alt="" loading="lazy" />
			</a>
			<a class="entry" href="{{page.lang}}/{{p.page}}" title="{{p.name}}">
				<h2><span>{{p.name}}</span></h2>
				<span class="subtitle">{{p.title_en}}</span>
			</a>
		</div>
	{% endfor %}
	</div>


	{% assign fPeople = people | where_exp:"people", "people.group == 'associate'" %}
	<h3 class="grid-title">Associates</h3>
	<div class="people-grid grid group">
	{% for p in fPeople %}
		<div class="people box">
			<a class="thumb" title="{{p.name}}">
				<img src="{{p.image}}" class="attachment-member-image size-member-image wp-post-image" alt="" loading="lazy" />
			</a>
			<a class="entry" title="{{p.name}}">
				<h2><span>{{p.name}}</span></h2>
				<span class="subtitle">{{p.title_en}}</span>
			</a>
		</div>
	{% endfor %}
	</div>


	{% assign fPeople = people | where_exp:"people", "people.group == 'student'" %}
	<h3 class="grid-title">Students</h3>
	<div class="people-grid grid group">
	{% for p in fPeople %}
		<div class="people box">
			<a class="thumb" title="{{p.name}}">
				<img src="{{p.image}}" class="attachment-member-image size-member-image wp-post-image" alt="" loading="lazy" />
			</a>
			<a class="entry" title="{{p.name}}">
				<h2><span>{{p.name}}</span></h2>
				<span class="subtitle">{{p.title_en}}</span>
			</a>
		</div>
	{% endfor %}
	</div>

	<div class="column">
		{% assign fPeople = people | where_exp:"people", "people.group == 'past_member'" %}
		<h3>Past Members</h3>
		<div class="people-list">
			<ul>
			{% for p in fPeople %}
				<li>{{p.name}}</li>
			{% endfor %}
			</ul>
		</div>
	</div>

	<div class="column">
	{% assign fPeople = people | where_exp:"people", "people.group == 'past_students'" %}
		<h3>Past Students</h3>
		<div class="people-list">
				<ul>
				{% for p in fPeople %}
					<li>{{p.name}}</li>
				{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>