h1 span.highlight {
    color: var(--idl-brand-color);
  }

  .intro-container p {
    margin-top: 2rem;
    max-width: 786px;
    @include font__p;
    @media screen and (min-width: 64.0rem) { 
       
      @include font__p-large;

  }

    a, a:link, a:visited {
      color: var(--text-default)
    }

    a::before {
      content: url(/images/arrow-link.svg);
      text-decoration: none;
      margin-right: .5rem;
    }
  }