@import 'normalize.css';
@import '_variables.scss';
@import '_typography.scss';
@import '_syntax.scss';
@import '_layout.scss';
@import '_header.scss';
@import '_homepage.scss';
@import '_project-teaser.scss';



* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}




/* Laufschrift Anfang */

.laufschrift-container {
  font-size: 60px;
  position: relative;
  width: 100%;
  height: 20vh;
  font-weight: $font__black;
  font-style: italic;
  margin-top: 6rem;
  overflow: hidden;
  @media screen and (min-width: 48.0rem) { 
    overflow: visible;
    overflow-x: clip;
 }
}

.scroll1 {
 
  transform-origin: 50% 50%;
  width: 150%;
  display: block;
  font-size: 36px;
  padding: 20px;
  transform: rotate(4deg);
  left: -25%;
  position: absolute;
  white-space: nowrap;
  color: var(--idl-brand-color);
  @media screen and (min-width: 64.0rem) { 
       
    font-size: 60px;
 }
}
.scroll2 {
  transform-origin: 50% 50%;
  width: 150%;
  display: block;
  font-size: 36px;
  padding: 20px;
  transform: rotate(-4deg);
  left: -25%;
  position: absolute;
  white-space: nowrap;
  @media screen and (min-width: 64.0rem) { 
       
   font-size: 60px;
}
  
}


/* Laufschrift Ende */

.publications{
  @include max-width-text;
  @include font__p;
  margin-top: 4rem;
}

.pub-container{
  margin-bottom: 4rem;
}

.pub-desc{
  margin-bottom: 1rem;
}

.pub-authors{
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #000;
  font-weight: 800;
  ul {
    list-style-type: none;
    display: flex;
  }

  ul li::after{
    content: ",\00a0";
    text-decoration: none;
  }

  a:link, a:visited {
    color: #000;
  }
}

.download-link a{
  padding:1rem;
  background-color: var(--idl-brand-color);
  display: inline-block;
  text-decoration: none;
  color: #000;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  
  &:hover {
    background-color: #000;
    color:#fff;
  }
}

.more-link{
  text-align: center

}
.button {
  display: inline-block;
  text-decoration: none;
  border: none;
  padding: 1rem;
  @include font__p;
  background-color: #000;
  color: #fff;
  margin-top: 2rem;
  margin-bottom: 2rem;
  
  &:hover {
    background-color: var(--idl-brand-color);
    color: #000;
  }
}
